* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eae6df;
}

.container {
  position: absolute;
  top: 0px;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#left-box {
  height: inherit;
  width: 30%;
  min-width: 300px;
  background-color: white;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.075);
  z-index: 1;
  display: flex;
  flex-direction: column;
}

#right-box {
  height: inherit;
  width: 70%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

#left-header {
  background: rgb(240, 242, 245);
  border-bottom: 1px solid rgb(233, 233, 233);
  display: flex;
  align-items: center;
  height: 10vh;
}

#right-header {
  box-sizing: border-box;
  background: rgb(240, 242, 245);
  border-bottom: 1px solid rgb(233, 233, 233);
  display: flex;
  align-items: center;
  height: 10vh;
  padding: 0 15px;
  width: 100%;

}

#logo>img {
  height: 10vh;
  width: 10vh;
}

#left-content {
  height: 90vh;
}

#right-content {
  height: 90vh;
  display: flex;
  flex-direction: column;
}

#group-list {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-y: auto;
}

#group-list>li {
  overflow: hidden;
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: larger;
  border-bottom: 1px solid rgb(233, 233, 233);
  height: 10vh;
  cursor: pointer;
}

#group-list>li:hover {
  background: rgba(160, 160, 160, 0.04);
}

.active-group {
  background: rgb(240, 242, 245) !important;
}


#group-name-headline {
  font-size: larger;
}

#massage-input-box {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: rgb(240, 242, 245);
  width: 100%;
  height: fit-content;
  margin-top: auto;

}

#message-input {
  margin: 10px;
  width: 80%;
  height: fit-content;
  min-height: 45px;
  max-height: 200px;
  border-radius: 8px;
  background: white;
  border-style: none;
  outline: none;
  font-size: large;
  padding: 15px;
  min-height: fit-content;
  max-height: 200px;
  overflow: auto;
  resize: none;
}


.btn {
  font-size: larger;
  color: white;
  background: #08b81f;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 8px;
}

.btn:hover {
  color: black;
  background: rgb(161, 196, 37);
}

#chats {
  height: 90%;
  width: 100%;
  padding: 10px;
  background: rgb(239, 234, 226);
  overflow: auto;

}

#chats>div {
  display: flex;
  width: fit-content;
  min-width: 200px;
  border-radius: 10px;
  height: fit-content;
  max-width: 40%;
  padding: 5px;
  margin-bottom: 5px;
}

.mid {
  margin: auto;
  background: #dde0e6d0;
  padding: 1px 0 !important;
  justify-content: center;

}

.left {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  margin-right: auto;
  background: white;
}

.right {
  margin-left: auto;
  background: #b9df74;
}

#message-input:empty:before {
  content: attr(data-placeholder);
  color: gray
}

.message-user-name {
  font-size: smaller;
  background: #ebe9e9;

}

#create-new-group {
  display: flex;
  margin-left: auto;
  cursor: pointer;
  background: gray;
  font-size: large;
  padding: 5px 10px;
  border-radius: 50%;
}

#create-new-group:hover {
  background: rgb(173, 170, 170);
}

#group-form {
  display: flex;
  flex-direction: column;
width: fit-content;
  margin: 10px;
}

#group-form>input {
  margin: 5px;
}

#asdf {
  border: 1px solid black;
  border-radius: 5px;
  transform: translateX(50%);
  position: fixed;
  top: 50px;
  right: 80%;
}

#create-input{
  border-radius: 6px;
  font-size: large;
  border: none;
  padding: 6px;
  font-style: none;
  outline: none;
}