/* body {
  background: #01850c;
} */

.outerBody {
  margin: 5% 35%;
  /* background: white; */
  border: 1px solid black;
  border-radius: 2rem;
}

.form {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  width: 50vw;
  justify-content: center;
  align-items: center;

}

input {
  outline: none;
  font-size: large;
  margin: 30px;
  text-decoration: none;
  border: none;
  border-bottom: 1px solid rgb(177, 168, 168);
  font-size: large;
  width: 100%;
  max-width: 430px;
}

input:focus {
  border-color: red;
}

.btn {
  display: flex;
  font-size: large;
  justify-content: center;
  color: rgb(227, 227, 233);
  background-color: blue;
  padding: 7px 12px;
  border-radius: 9px;
}